/* ================================
   RESPONSIVO - SMART GROUP ANALYTICS
================================ */

/* TABLET */
@media (max-width: 1200px) {

  .sidebar {
    width: 240px;
  }

  .main {
    margin-left: 240px;
    width: calc(100% - 240px);
  }

  .search-box {
    width: 300px;
  }

  .cards-home {
    grid-template-columns: repeat(2, 1fr);
  }

}

/* CELULAR */
@media (max-width: 768px) {

  body {
    display: block;
  }

  .sidebar {
    position: fixed !important;
    width: 210px !important;
    left: -210px !important;
    top: 0;
    bottom: 0;
    z-index: 10002;
    transition: .3s;
    padding: 22px 16px;
  }

  .sidebar.aberto {
    left: 0 !important;
  }

  .main {
    margin-left: 0 !important;
    width: 100% !important;
  }

  .topbar {
    position: relative;
    z-index: 10001;
    height: auto;
    min-height: 76px;
    padding: 14px;
    gap: 12px;
  }

  .menu-btn {
    display: flex !important;
    position: relative;
    z-index: 10003;
  }

  .titulo-area h1 {
    font-size: 19px;
  }

  .titulo-area p {
    font-size: 13px;
  }

  .search-box {
    display: none;
  }

  .user-box {
    display: none;
  }

  .conteudo {
    padding: 18px;
  }

  .cards-home {
    grid-template-columns: 1fr;
  }

  .marca-dagua {
    width: 260px;
    right: 10px;
    bottom: 20px;
  }

  .iframe-modulo {
    height: calc(100vh - 76px) !important;
  }

  .logo-box img {
    width: 40px;
  }

  .logo-box h2 {
    font-size: 16px;
  }

  .logo-box span {
    font-size: 12px;
  }

  .menu a {
    font-size: 14px;
    padding: 12px 14px;
  }

  .admin-title {
    font-size: 11px;
    margin: 22px 0 10px;
  }

  .versao {
    font-size: 11px;
    left: 18px;
  }

   body.menu-aberto-mobile .main {
  transform: translateX(210px);
  transition: .3s;
}

.main {
  transition: .3s;
}
   

}
